<a href="https://colab.research.google.com/github/JSJeong-me/GPT_Ochestration/blob/main/Eparse-excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!git clone https://github.com/ChrisPappalardo/eparse.git

Cloning into 'eparse'...
remote: Enumerating objects: 284, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 284 (delta 5), reused 14 (delta 5), pack-reused 266
Receiving objects: 100% (284/284), 112.96 KiB | 16.14 MiB/s, done.
Resolving deltas: 100% (161/161), done.

In [4]:
cd eparse

/content/eparse

In [5]:
pip install .

Processing /content/eparse
  Preparing metadata (setup.py) ... done
Requirement already satisfied: click>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from eparse==0.7.3) (8.1.7)
Requirement already satisfied: openpyxl>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from eparse==0.7.3) (3.1.2)
Requirement already satisfied: lxml>=4.9.3 in /usr/local/lib/python3.10/dist-packages (from eparse==0.7.3) (4.9.4)
Collecting pandas>=2.0.0 (from eparse==0.7.3)
  Downloading pandas-2.1.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 88.2 MB/s eta 0:00:00
Requirement already satisfied: peewee>=3.16.0 in /usr/local/lib/python3.10/dist-packages (from eparse==0.7.3) (3.17.0)
Collecting unstructured>=0.8.5 (from eparse==0.7.3)
  Downloading unstructured-0.11.8-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 66.8 MB/s eta 0:00:00
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=3.0.0->eparse==0.7.3) (1.1.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0.0->eparse==0.7.3) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0.0->eparse==0.7.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0.0->eparse==0.7.3) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas>=2.0.0->eparse==0.7.3)
  Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 41.0 MB/s eta 0:00:00
Requirement already satisfied: chardet in /usr/local/lib/python3.10/dist-packages (from unstructured>=0.8.5->eparse==0.7.3) (5.2.0)
Collecting filetype (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading filetype-1.2.0-py2.py3-none-any.whl (19 kB)
Collecting python-magic (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading python_magic-0.4.27-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from unstructured>=0.8.5->eparse==0.7.3) (3.8.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from unstructured>=0.8.5->eparse==0.7.3) (0.9.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from unstructured>=0.8.5->eparse==0.7.3) (2.31.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from unstructured>=0.8.5->eparse==0.7.3) (4.11.2)
Collecting emoji (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading emoji-2.9.0-py2.py3-none-any.whl (397 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 397.5/397.5 kB 42.2 MB/s eta 0:00:00
Collecting dataclasses-json (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading dataclasses_json-0.6.3-py3-none-any.whl (28 kB)
Collecting python-iso639 (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading python_iso639-2024.1.2-py3-none-any.whl (274 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 274.7/274.7 kB 36.6 MB/s eta 0:00:00
Collecting langdetect (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 981.5/981.5 kB 70.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting rapidfuzz (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading rapidfuzz-3.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 72.5 MB/s eta 0:00:00
Collecting backoff (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from unstructured>=0.8.5->eparse==0.7.3) (4.5.0)
Collecting unstructured-client (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading unstructured_client-0.15.2-py3-none-any.whl (20 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from unstructured>=0.8.5->eparse==0.7.3) (1.14.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->eparse==0.7.3) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->unstructured>=0.8.5->eparse==0.7.3) (2.5)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json->unstructured>=0.8.5->eparse==0.7.3)
  Downloading marshmallow-3.20.2-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 7.1 MB/s eta 0:00:00
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json->unstructured>=0.8.5->eparse==0.7.3)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->unstructured>=0.8.5->eparse==0.7.3) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->unstructured>=0.8.5->eparse==0.7.3) (2023.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->unstructured>=0.8.5->eparse==0.7.3) (4.66.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->unstructured>=0.8.5->eparse==0.7.3) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->unstructured>=0.8.5->eparse==0.7.3) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->unstructured>=0.8.5->eparse==0.7.3) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->unstructured>=0.8.5->eparse==0.7.3) (2023.11.17)
Collecting jsonpath-python>=1.0.6 (from unstructured-client->unstructured>=0.8.5->eparse==0.7.3)
  Downloading jsonpath_python-1.0.6-py3-none-any.whl (7.6 kB)
Collecting mypy-extensions>=1.0.0 (from unstructured-client->unstructured>=0.8.5->eparse==0.7.3)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: packaging>=23.1 in /usr/local/lib/python3.10/dist-packages (from unstructured-client->unstructured>=0.8.5->eparse==0.7.3) (23.2)
Collecting typing-extensions (from unstructured>=0.8.5->eparse==0.7.3)
  Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Building wheels for collected packages: eparse, langdetect
  Building wheel for eparse (setup.py) ... done
  Created wheel for eparse: filename=eparse-0.7.3-py2.py3-none-any.whl size=19230 sha256=a17741318e2f6807924d9a14770b4ad37382945fb306c4dfc20cea1e2e9145d7
  Stored in directory: /tmp/pip-ephem-wheel-cache-y81ih4cq/wheels/37/00/64/ea5806a4aa04ad3ef3fe35fae7c061b2e16c708c52206cbee7
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993225 sha256=252d83e6735dd867397822429ece157e2b59959d1453e661ec3ba1409111a58f
  Stored in directory: /root/.cache/pip/wheels/95/03/7d/59ea870c70ce4e5a370638b5462a7711ab78fba2f655d05106
Successfully built eparse langdetect
Installing collected packages: filetype, tzdata, typing-extensions, rapidfuzz, python-magic, python-iso639, mypy-extensions, marshmallow, langdetect, jsonpath-python, emoji, backoff, typing-inspect, pandas, dataclasses-json, unstructured-client, unstructured, eparse
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.5.0
    Uninstalling typing_extensions-4.5.0:
      Successfully uninstalled typing_extensions-4.5.0
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires fastapi, which is not installed.
lida 0.0.10 requires kaleido, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
lida 0.0.10 requires uvicorn, which is not installed.
bigframes 0.18.0 requires pandas<2.1.4,>=1.5.0, but you have pandas 2.1.4 which is incompatible.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.1.4 which is incompatible.
tensorflow-probability 0.22.0 requires typing-extensions<4.6.0, but you have typing-extensions 4.9.0 which is incompatible.
Successfully installed backoff-2.2.1 dataclasses-json-0.6.3 emoji-2.9.0 eparse-0.7.3 filetype-1.2.0 jsonpath-python-1.0.6 langdetect-1.0.9 marshmallow-3.20.2 mypy-extensions-1.0.0 pandas-2.1.4 python-iso639-2024.1.2 python-magic-0.4.27 rapidfuzz-3.6.1 typing-extensions-4.9.0 typing-inspect-0.9.0 tzdata-2023.4 unstructured-0.11.8 unstructured-client-0.15.2

In [ ]:
# !pip install psycopg2-binary

In [ ]:
from eparse.core import get_df_from_file

print([table for table in get_df_from_file('eparse_unit_test_data.xlsx')])

In [6]:
%cd ..

/content

In [8]:
!eparse -v -f 'eparse_unit_test_data.xlsx' scan

found 1 files
eparse_unit_test_data.xlsx 0.01MB with 1 sheets

In [10]:
!eparse -f 'eparse_unit_test_data.xlsx' -o stdout:/// parse -z

Streaming output truncated to the last 5000 lines.
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 5,
  'excel_RC': 'I32',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '40352.66611337962',
  'row': 6,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '21759.887338178683'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 6,
  'excel_RC': 'J32',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '40352.66611337962',
  'row': 6,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '941058.770786709'},
 {'c_header': 'Current Valuation:  03/31/2023',
  'column': 7,
  'excel_RC': 'K32',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '40352.66611337962',
  'row': 6,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '189998.82585991913'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 0,
  'excel_RC': 'D33',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '37293.01660074313',
  'row': 7,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '37293.01660074313'},
 {'c_header': 'Current Valuation:  03/01/2022',
  'column': 1,
  'excel_RC': 'E33',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '37293.01660074313',
  'row': 7,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '83411.26364573081'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 2,
  'excel_RC': 'F33',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '37293.01660074313',
  'row': 7,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '6509.609320522803'},
 {'c_header': 'Current Valuation:  09/30/2022',
  'column': 3,
  'excel_RC': 'G33',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '37293.01660074313',
  'row': 7,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '64121.12703498962'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 4,
  'excel_RC': 'H33',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '37293.01660074313',
  'row': 7,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '383567.0175493747'},
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 5,
  'excel_RC': 'I33',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '37293.01660074313',
  'row': 7,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '787936.7440137205'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 6,
  'excel_RC': 'J33',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '37293.01660074313',
  'row': 7,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '28649.868407116363'},
 {'c_header': 'Current Valuation:  03/31/2023',
  'column': 7,
  'excel_RC': 'K33',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '37293.01660074313',
  'row': 7,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '646586.7089615418'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 0,
  'excel_RC': 'D34',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '586941.5099435506',
  'row': 8,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '586941.5099435506'},
 {'c_header': 'Current Valuation:  03/01/2022',
  'column': 1,
  'excel_RC': 'E34',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '586941.5099435506',
  'row': 8,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '21483.786659879934'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 2,
  'excel_RC': 'F34',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '586941.5099435506',
  'row': 8,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '342984.99755187496'},
 {'c_header': 'Current Valuation:  09/30/2022',
  'column': 3,
  'excel_RC': 'G34',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '586941.5099435506',
  'row': 8,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '520294.50887273886'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 4,
  'excel_RC': 'H34',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '586941.5099435506',
  'row': 8,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '455991.68598498055'},
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 5,
  'excel_RC': 'I34',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '586941.5099435506',
  'row': 8,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '436276.2568377977'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 6,
  'excel_RC': 'J34',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '586941.5099435506',
  'row': 8,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '14164.428494982007'},
 {'c_header': 'Current Valuation:  03/31/2023',
  'column': 7,
  'excel_RC': 'K34',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '586941.5099435506',
  'row': 8,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '738456.0629047065'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 0,
  'excel_RC': 'D35',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '930684.3564197331',
  'row': 9,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '930684.3564197331'},
 {'c_header': 'Current Valuation:  03/01/2022',
  'column': 1,
  'excel_RC': 'E35',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '930684.3564197331',
  'row': 9,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '761075.1575362212'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 2,
  'excel_RC': 'F35',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '930684.3564197331',
  'row': 9,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '377117.27669496054'},
 {'c_header': 'Current Valuation:  09/30/2022',
  'column': 3,
  'excel_RC': 'G35',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '930684.3564197331',
  'row': 9,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '904062.7364080496'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 4,
  'excel_RC': 'H35',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '930684.3564197331',
  'row': 9,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '120271.18131589387'},
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 5,
  'excel_RC': 'I35',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '930684.3564197331',
  'row': 9,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '199740.2954365697'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 6,
  'excel_RC': 'J35',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '930684.3564197331',
  'row': 9,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '230694.77164136354'},
 {'c_header': 'Current Valuation:  03/31/2023',
  'column': 7,
  'excel_RC': 'K35',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '930684.3564197331',
  'row': 9,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '175517.70075018058'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 0,
  'excel_RC': 'D36',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '278378.6687743741',
  'row': 10,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '278378.6687743741'},
 {'c_header': 'Current Valuation:  03/01/2022',
  'column': 1,
  'excel_RC': 'E36',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '278378.6687743741',
  'row': 10,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '141708.85558180857'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 2,
  'excel_RC': 'F36',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '278378.6687743741',
  'row': 10,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '181695.49789326967'},
 {'c_header': 'Current Valuation:  09/30/2022',
  'column': 3,
  'excel_RC': 'G36',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '278378.6687743741',
  'row': 10,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '932521.1900753595'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 4,
  'excel_RC': 'H36',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '278378.6687743741',
  'row': 10,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '824829.7011086947'},
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 5,
  'excel_RC': 'I36',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '278378.6687743741',
  'row': 10,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '745939.1269735737'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 6,
  'excel_RC': 'J36',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '278378.6687743741',
  'row': 10,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '91843.0952328153'},
 {'c_header': 'Current Valuation:  03/31/2023',
  'column': 7,
  'excel_RC': 'K36',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Last Price Discovery:  03/01/2022',
  'r_header': '278378.6687743741',
  'row': 10,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '168475.52293373746'}]
[{'c_header': 'nan',
  'column': 0,
  'excel_RC': 'C26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': 'nan'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 1,
  'excel_RC': 'D26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Last Price Discovery:  03/01/2022'},
 {'c_header': 'Current Valuation:  03/01/2022',
  'column': 2,
  'excel_RC': 'E26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Current Valuation:  03/01/2022'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 3,
  'excel_RC': 'F26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Last Price Discovery:  03/01/2022'},
 {'c_header': 'Current Valuation:  09/30/2022',
  'column': 4,
  'excel_RC': 'G26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Current Valuation:  09/30/2022'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 5,
  'excel_RC': 'H26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Last Price Discovery:  03/01/2022'},
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 6,
  'excel_RC': 'I26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Current Valuation:  12/31/2022'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 7,
  'excel_RC': 'J26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Last Price Discovery:  03/01/2022'},
 {'c_header': 'Current Valuation:  03/31/2023',
  'column': 8,
  'excel_RC': 'K26',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'nan',
  'row': 0,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Current Valuation:  03/31/2023'},
 {'c_header': 'nan',
  'column': 0,
  'excel_RC': 'C27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'Revenue'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 1,
  'excel_RC': 'D27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '809127967.9178938'},
 {'c_header': 'Current Valuation:  03/01/2022',
  'column': 2,
  'excel_RC': 'E27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '964987674.2648022'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 3,
  'excel_RC': 'F27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '354635194.54920423'},
 {'c_header': 'Current Valuation:  09/30/2022',
  'column': 4,
  'excel_RC': 'G27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '644839345.4671768'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 5,
  'excel_RC': 'H27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '297294601.6844147'},
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 6,
  'excel_RC': 'I27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '808624104.772592'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 7,
  'excel_RC': 'J27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '22288256.01249651'},
 {'c_header': 'Current Valuation:  03/31/2023',
  'column': 8,
  'excel_RC': 'K27',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'Revenue',
  'row': 1,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '576767887.492047'},
 {'c_header': 'nan',
  'column': 0,
  'excel_RC': 'C28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'EBITDA'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 1,
  'excel_RC': 'D28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '847831.9644938543'},
 {'c_header': 'Current Valuation:  03/01/2022',
  'column': 2,
  'excel_RC': 'E28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '545877.1507073473'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 3,
  'excel_RC': 'F28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '943836.9157389537'},
 {'c_header': 'Current Valuation:  09/30/2022',
  'column': 4,
  'excel_RC': 'G28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '797576.9351869837'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 5,
  'excel_RC': 'H28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '275173.5536974934'},
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 6,
  'excel_RC': 'I28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '775792.895567711'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 7,
  'excel_RC': 'J28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '636593.2990935587'},
 {'c_header': 'Current Valuation:  03/31/2023',
  'column': 8,
  'excel_RC': 'K28',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBITDA',
  'row': 2,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '506771.7077109567'},
 {'c_header': 'nan',
  'column': 0,
  'excel_RC': 'C29',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBIT',
  'row': 3,
  'sheet': 'TEST',
  'type': "<class 'str'>",
  'value': 'EBIT'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 1,
  'excel_RC': 'D29',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBIT',
  'row': 3,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '895694.9986759364'},
 {'c_header': 'Current Valuation:  03/01/2022',
  'column': 2,
  'excel_RC': 'E29',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBIT',
  'row': 3,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '908112.596129287'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 3,
  'excel_RC': 'F29',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBIT',
  'row': 3,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '310481.0765515842'},
 {'c_header': 'Current Valuation:  09/30/2022',
  'column': 4,
  'excel_RC': 'G29',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBIT',
  'row': 3,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '181027.633348384'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 5,
  'excel_RC': 'H29',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBIT',
  'row': 3,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '423074.05093408766'},
 {'c_header': 'Current Valuation:  12/31/2022',
  'column': 6,
  'excel_RC': 'I29',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBIT',
  'row': 3,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '386765.81273465627'},
 {'c_header': 'Last Price Discovery:  03/01/2022',
  'column': 7,
  'excel_RC': 'J29',
  'f_name': 'eparse_unit_test_data.xlsx',
  'name': 'Financials',
  'r_header': 'EBIT',
  'row': 3,
  'sheet': 'TEST',
  'type': "<class 'float'>",
  'value': '785091.1172348772'},